name: ci

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5.0.1
      - uses: actions/setup-node@v6.0.0
        with:
          node-version: 20
          cache: npm
      - run: npm ci
      - run: npm run test
