name: ci

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2
      - uses: actions/setup-node@v5.0.0
        with:
          node-version: 20
          cache: yarn
      - run: yarn install
      - run: yarn test
